/* Start Body */
body {
    background-color: white; 
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body */

/* Start Debug */
.bg-black {
    background-color: black;
}
.bg-lightpurple {
    background-color: #973DF2;
}
/* End Debug */
.containerlogo {
    margin: auto;
    overflow: auto;
    width: 100%;
    height: 100%;
}

/* Start Container */
.container {
    margin: auto;
    overflow: auto;
    width: 90%;
    height: 100%;
    background-color: white
}
.containerfull {
    /*margin: 100%;*/
    width: 100% ;
    background-color: grey
}
/* End Container */

/* Start Link */
.link1 a {
    color: white;
}
.link2 a {
  color: black;
  text-decoration: none
}

/* End Sekunder */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Menu */
.menuprimer ul {
    background-color: gray;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 25px;
    text-align: center
}
.menuprimer li {
    display: inline-block;
    border-right: 1px solid lightgrey;
    margin: 0 -4x;
}
.menuprimer a {
    color: white;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none
}
.menuprimer a:hover {
    background-color: lightgrey;
    color: black;
    text-decoration: none
}
.menuprimer .active {
    background-color: lightgrey
    color: white;
    text-decoration: none    
} 
/* End Menu*/

/* Start Heading*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px 
}
h1 {
    font-size: 28px
}
h2 {
    font-size: 24px
}
h3 {
    font-size: 18px
}
h4 {
    font-size: 16px
}
h5 {
    font-size: 14px
}
h6 {
    font-size: 13px
}
/* End Heading*/

/* Start Jumbotron */
.jumbotron {
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 100px;
    padding: 0px 0;
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.jumbotron h1 {
    font-size: 32px
}

/* End Jumbotrob */

/* Start Kategori */
.kategori {
    text-align: center;
    margin: 50px;
}
.kategori h3 {
    background-color: #973DF2;
    border: 1px solid #973DF2;
    color: white;
    border-radius: 0px;
    padding: 10px 0;
    margin-top: 50px;
}
/* End Kategori */

/* Start Temukan */
.temukan h2 {
    margin-top: 50px;
    text-align: center
}
/* End Temukan */

/*  Start fashion */
.fashion {
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
/*  End fashion */

/*  Start Gadget Aksesoris */
.aksesorisgadget {
    margin-left: 10px;

}
/*  End Gadget Aksesoris */

/*  Start Rumah Tangga */
.rumahtangga {
    margin-right: 117px;
}
/*  End Rumah Tangga */

/*  Start Beauty */
.beauty {
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
/*  End beauty */

/* Start Main */
.mainhomeone {
    float: left;
    width: 40%;
    margin-top: 0px
}
.mainhometwo {
    float: right;
    width: 40%;
    margin-top: 0px
}
/* End Main */

/* Start Menu Sekunder */
.menusekunder {
    background-color:gray;
    border-bottom: 1px solid gray;
    border-top: 1px solid white;
    overflow: auto;
    padding: 10px 0;
    color: black;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif
}
.menusekunder a {
    color: black
}
.menusekunder h4 {
    font-size: 16px;
    margin: 0 auto;
    text-transform: uppercase
}
.menusekunder ul {
    padding: 0
}
.menusekunder li {
    list-style: disc
}
.menusekunderone, .menusekundertwo, .menusekunderthree {
    float: left;
    text-decoration: none
}
.menusekunderone a, .menusekundertwo a, .menusekunderthree a {
text-decoration: none
}
.menusekunderone {
    width: 40%
}
.menusekunderone a {
    color: black
}
.menusekundertwo, .menusekunderthree {
    width: 30%
}
.menusekunder li img {
    vertical-align: middle
}
/* End Menu Sekunder */

/* Start Menu Sekunder2 */
.menusekunder2 {
    margin-top: 25px
}
/* End Menu Sekunder2 */

/* Start Copyright */
.copyright p {
    font-size: 15px;
    background-color: black;
    text-align: center;
    border-bottom: 0px solid black;
    border-top: 0px solid black;
    padding: 0px ;
    margin: 0%;
    color: white;
    width: 100%
}
/* End Copyright */

.containercopyright {
    width: 100% ;
    background-color: black;
}

/* Start Berita */
.berita {
    text-align: center;
    margin: 50px
}
.berita h3 {
    background-color: #973DF2;
    border: 1px solid #973DF2;
    color: white;
    border-radius: 0px;
    padding: 10px 0;
    margin-top: 50px;
}
/* End Berita */

/* Start Tentang */
.tentang {
    margin-top: 0px
}
/* End Tentang */

/* Start Kabar Dunia */
.kabardunia h2 {
    margin-top: 50px;
    text-align: center
}
/* End Kabar Dunia */

/*  Start Hiburan */
.hiburan {
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
/*  End Hiburan */

/*  Start Kesehatan */
.kesehatan {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
/*  End Kesehatan */

/*  Start Olahraga */
.olahraga {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
/*  End Olahraga */

/*  Start politik */
.politik {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
/*  End Politik */


.homepembayaran {
    float: left;
    width: 49.5%;
    text-align: center
}
.boxheading{
    background: url('atm.png')
    border: 1px solid black;
    padding: 10px 20px;
    margin: 0;
    text-transform: uppercase
}
.boxheading h2 {
    font-size: 14px;
    margin: 0
}

.homekonfirmasi {
    float: right;
    width: 49.5%;
    text-align: left

}


.teksgambar{
    background-image: url('images/atm.png');
    width: 640px;
    height: 480px;
    
    }
.teksgambar p{
    padding: 430px 20px 30px;
    color: white;
    }

.form {
    text-align: center;
    margin-top: 50px
}
.homepembayaran {
    float: left;
    width: 49%;
    
}
.homekonfirmasi {
    float: right;
    width: 49%;
}
.boxheading {
    background-color: #973DF2;
    border: 1px solid white
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.boxheading h4 {
    font-size: 14px;
    margin: 0;
    text-align: center;
    color: white
}
.boxisi {
    background-color: #ceaaf1;
    border: 1px solid #ceaaf1;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: 370px
}

.boxisi1 {
    background-color: ##ceaaf1;
    border: 1px solid ##ceaaf1;
    border-right: white;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
    height: 370px
}

/* artikel */
@import url(https://fonts.googleapis.com/css?family=Monsterrat:400,700;);
.snip1553 {
  background-color: #222222;
  color: #ffffff;
  font-family: 'Monsterrat', sans-serif;
  font-size: 16px;
  margin: 10px;
  margin-bottom: 10px;
  max-width: 23.2%;
  min-width: 23.2%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.snip1553 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1553:after {
  background-color: #B46E3C;
  bottom: 0;
  content: '';
  height: 0%;
  right: 0;
  position: absolute;
  width: 10px;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1553 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1553 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1em;
  opacity: 0;
}

.snip1553 h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1553 h3 span {
  display: block;
  font-weight: 700;
}

.snip1553 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1553:hover > img,
.snip1553.hover > img {
  opacity: 0.1;
}

.snip1553:hover:after,
.snip1553.hover:after {
  height: 100%;
}

.snip1553:hover figcaption,
.snip1553.hover figcaption {
  opacity: 1;
}

.mainone {
    float: left;
    width: 30%
}
.maintwo {
    float: left;
    width: 30%;
    margin-right: 0px
     }
.mainthree {
    float: right;
    width: 30%;
}
.mainfour {
    float: right;
    width: 30%
}
.mainone, .maintwo, .mainthree, .mainfour {
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    background-color: black
}
.container1 {
    margin-bottom: 25px;
    margin-top: 0px;
    overflow: auto;
    /* margin-right: 10px;
    margin-left: 10px; */
}
/* artikel */

/*kategori*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800;);
.snip1541 {
  background-color: #fff;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 23.2%;
  min-width: 23.2%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  display: inline-block
}

.snip1541 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1541 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1541 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1em;
  opacity: 0;
  -webkit-transform: translateX(75%) rotate(180deg);
  transform: translateX(75%) rotate(180deg);
}

.snip1541 figcaption:before {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #000000;
  border-radius: 50%;
  content: '';
  height: 100px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100px;
  z-index: -1;
}

.snip1541 h3 {
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1541 h3 span {
  display: block;
  font-weight: 800;
}

.snip1541 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1541:hover > img,
.snip1541.hover > img {
  opacity: 0.1;
}

.snip1541:hover figcaption,
.snip1541.hover figcaption {
  -webkit-transform: translate(0px) rotate(0deg);
  transform: translate(0px) rotate(0deg);
  opacity: 1;
}
.main1 {
    float: left;
    width: 30%
}
.main2 {
    float: left;
    width: 30%;
    margin-right: 0px
     }
.main3 {
    float: right;
    width: 30%;
}
.main3 {
    float: right;
    width: 30%
}
.main1, .main2, .main3, .main4 {
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    background-color: black
}
.container2 {
    margin: auto;
    overflow: auto;
    margin-right: 10px;
    margin-left: 10px;black
}
/*kategori*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1487 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 0;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 20px;
  background-color: #000000;
  line-height: 1.5em;
}
.snip1487 *,
.snip1487 *:before,
.snip1487 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.snip1487 img {
  width: calc(120%);
  backface-visibility: hidden;
  vertical-align: top;
}
.snip1487 figcaption {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
  padding: 5px 40px;
  opacity: 0;
}
.snip1487 h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.snip1487 p {
  font-weight: 400;
  margin: 0;
  font-size: 0.9em;
}
.snip1487 i {
  position: absolute;
  color: #fff;
  font-size: 34.375px;
  line-height: 55px;
  width: 55px;
  bottom: 0;
  right: 0;
  background-color: #c0392b;
  -webkit-transform: translateX(55px);
  transform: translateX(55px);
}
.snip1487 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1487:hover img,
.snip1487.hover img {
  zoom: 1;
  filter: alpha(opacity=30);
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -webkit-transform: translateX(-40px);
  transform: translateX(-40px);
}
.snip1487:hover figcaption,
.snip1487.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
}
.snip1487:hover i,
.snip1487.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/*pilihan*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
.snip1504 {
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: left;
  font-size: 16px;
  background-color: #fff;
}

.snip1504 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1504 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1504 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.snip1504 h3,
.snip1504 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1504 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
}

.snip1504 h5 {
  font-weight: normal;
  font-style: italic;
  color: #888;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.snip1504 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1504:hover > img,
.snip1504.hover > img {
  opacity: 0.1;
}

.snip1504:hover h3,
.snip1504.hover h3,
.snip1504:hover h5,
.snip1504.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
/*pilihan*/

li{
    text-align: left;
}

.sejarahdanpendiri {
  margin-top: 0px
}

.judulpuisi {
  text-align: center;
  background-color: white;
  

.cintapertamatelahtiada  {
  /* background-color: lightgrey;
  margin-bottom: 0px;
  margin-top:  */
	/* background: url('images/puisi1.png');
  background-size: cover;   */
  color: #000000;
  margin-bottom: 50px
}
.cintapertamatelahtiada h2 {
  font-weight: bold;
  text-align: center
}
.cintapertamatelahtiada p {
  text-align: center;

}

.senja-fajar-dankita  {
  /* background-color: lightgrey;
  margin-bottom: 0px;
  margin-top:  */
	/* background: url('images/puisi1.png');
  background-size: cover;   */
  color: #000000;
  margin-bottom: 50px
}
.senja-fajar-dankita h2 {
  font-weight: bold;
  text-align: center
}
.senja-fajar-dankita p {
  text-align: center;

}

.suratpermohonanuntuktuhan  {
  /* background-color: lightgrey;
  margin-bottom: 0px;
  margin-top:  */
	/* background: url('images/puisi1.png');
  background-size: cover;   */
  color: #000000;
  margin-bottom: 50px
}
.suratpermohonanuntuktuhan h2{
  font-weight: bold;
  text-align: center
}
.suratpermohonanuntuktuhan p {
  text-align: center;

}

.gadgetandrumah {
  margin: auto
}
